/.DS_Store
/com.appa.tools/bin/
/de.itemis.mobilizer.appmodel/bin/
/de.itemis.mobilizer.appmodel.ui/bin/
/itemisApp.android/bin/
/itemisApp.iPhone/build/

*.pbxuser
*.mode1v3
*.pyc
/itemisApp.wp7/obj/
peterfriese.perspectivev3
bin
.DS_Store
/examples/itemisApp.iPhone/build/
/examples/itemisApp.iPhone/itemisApp.xcodeproj/xcuserdata/
/examples/itemisApp.wp7/obj/
/reference/WP7/ItemisApp/ItemisApp/obj/
*.suo
/templates/itemisApp.iPhone/build/
src-gen
xtend-gen