/.DS_Store
/com.appa.tools/bin/
/de.itemis.mobilizer.appmodel/bin/
/de.itemis.mobilizer.appmodel.ui/bin/
/itemisApp.android/bin/
/itemisApp.iPhone/build/

*.pbxuser
*.mode1v3
*.pyc
/itemisApp.wp7/obj/
peterfriese.perspectivev3
bin
.DS_Store