/.DS_Store
/com.appa.tools/bin/
/de.itemis.mobilizer.appmodel/bin/
/de.itemis.mobilizer.appmodel.ui/bin/
/de.itemis.mobilizer.appmodel.generator/bin/
/itemisApp.android/bin/
/itemisApp.iPhone/build/

*.pbxuser
*.mode1v3