<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.applause.org/ApplauseDsl" 
       class = "org.applause.applauseDsl.ApplauseDslPackage"
       genModel = "org/applause/ApplauseDsl.genmodel" /> 
	
  </extension>





</plugin>
