<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.applause.lang.ui.buildstrategy">
      <buildstrategy
            class="org.applause.lang.generator.wp7.builder.WP7BuildStrategy">
      </buildstrategy>
   </extension>
   <extension
         point="org.applause.lang.ui.mobileplatform">
      <mobileplatform
            name="Windows Phone 7"
            projectNameSuffix="WP7"
            templateProject="templateproject/project.zip">
      </mobileplatform>
   </extension>

</plugin>
