{% extends "_application.html" %}
{% block title%}{{ data.title }}{% endblock %}
{% block content_class %}details{% endblock %}
{% block content %}
<div class="header">
  <div class="header_title">{{data.title}}</div>
  <div class="header_details">{{ data.description|safe }}</div>
</div>
<div class="table group">
<ul>  
{% for speaker in data.speakers|to_list %}
<li>
  {% url generated_views.speaker_byName speaker.name as url %}
  <a href="{{url}}">{{ speaker.name }}</a>
</li>
{% endfor %}
</ul>
</div>

{% endblock %}
