{% extends 'base.html' %}
{% block title %}It works!{% endblock %}

{% block content %}
<h1>It works!</h1>
<p>
Your Django-nonrel installation is working fine.
Now go and build something useful with it. :)
</p>

<p>
Also, make sure you follow the
<a href="http://www.allbuttonspressed.com/blog/django">Django-nonrel & webdev blog</a>,
so you don't miss any new features and improvements.
</p>

<p>
If you're new to Django you should take a look at the
<a href="http://docs.djangoproject.com/en/dev/">Django documentation</a>
and the
<a href="http://www.djangobook.com/">Django book</a>.
You'll also find <a href="http://djangosnippets.org/">djangosnippets</a>
very useful.
</p>
{% endblock %}
