{% extends "application.html" %}
{% load menu_extras %}

{% block title%}{{ "sessions" }}{% endblock %}
{% block content_class %}table list{% endblock %}

{% block navigation %}{{block.super}}
{% if display_favorites %}
{% url views.session_favorites day=0 as url_day1 %}
{% url views.session_favorites day=1 as url_day2 %}
{% url views.session_favorites day=2 as url_day3 %}
{% url views.session_favorites day=3 as url_day4 %}
{% else %}
{% url views.session_all day=0 as url_day1 %}
{% url views.session_all day=1 as url_day2 %}
{% url views.session_all day=2 as url_day3 %}
{% url views.session_all day=3 as url_day4 %}
{% endif %}
{% menu submenu selection day with "Mon 21" : url_day1, "Tue 22" : url_day2, "Wed 23" : url_day3, "Thu 24" : url_day4 %}
{% endblock %}


{% block content %}
<ul>
  {% for timeslot in timeslots %}
  <li><div class="section">{{timeslot.title}}</div></li>
  {% for session in timeslot.sessions %}
  {% url views.session_details session.session_id as url %}
  <li><a href="{{ url }}">{{ session }}</a></li>
  {% endfor %}
  {% empty %}
  {%if display_favorites %}
  <li><div class="section note">There are no sessions for this day on your schedule, yet.</div></li>
  {% url views.session_all day=day as url %}
  <li><a href="{{ url }}">Browse for sessions</a></li>
  {% endif %}
  {% endfor %}
  
</ul>
{% endblock %}
