{% extends "application.html" %}
{% block title%}{{ speaker.full_name }}{{block.super}}{% endblock %}
{% block content_class %}details{% endblock %}

{% block content %}
<div class="header">
<!--  <div class="header_image"><img src="{{speaker.image_url}}" alt="{{speaker.full_name}}"/> -->
  <div class="header_title">{{ speaker.full_name }}</div>
  <div class="header_subtitle">{{ speaker.affiliation }}</div>
  <div class="header_details">{{speaker.bio|safe}}</div>
</div>

<div class="table group">
<ul>
{% for session in speaker.sessions %}
<li>
  {% url views.session_details session.session_id as url %}
  <a href="{{ url }}">{{ session.title }}</a>
</li>
{% endfor %}
</ul>
</div>
{% endblock %}