<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="PRAGMA" content="NO-CACHE">
  <title>{% block title %}title{% endblock %}</title>
  <link href="/media/files/style.css" rel="stylesheet" type="text/css">
  <link href="/media/files/customstyle.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="maximum-scale=1.0,width=device-width,initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  
  <script type="text/javascript">
  // hide url bar after pageload.
    window.onload = function () {
      this.scrollTo(0, 1);
    };
  </script>
  
</head>
<body>
<div class="navigation">{% block navigation %}{% endblock %}</div>
<div class="content {% block content_class %}default{% endblock %}">
{% block content %}content{% endblock %}
</div>
</body>