/*
 * uses colors from http://www.eclipsecon.org/summiteurope2010/ where applicable
 */ 
 
body {
  background-color: #d3d9e9;
  color: #002468;
}

.header .header_details {
  background-color: #d3d9e9;
  color: #002468;
}

ul li a:active, ul li a:hover, ul li.selected a {
  background-color: #504392;
  color: white;
}

.menu {
  background-color: #2a385d;
}

.header {
  background-color: #504392;
}

.list ul li div.section {
  background-color: #504392;
}

.list ul li div.section.note {
  background-color: #d3d9e9;
  color: #002468;
}

div.submenu {
  padding-top: 4px;
  background-color: #504392;
}

div.submenu ul li a {
  color: #AAA;
}

div.submenu ul li.selected a {
  color: white;
}

