<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="buildstrategy" name="APPlause Build Strategy" schema="schema/buildstrategy.exsd"/>
   <extension-point id="mobileplatform" name="APPlause Mobile Platform" schema="schema/mobileplatform.exsd"/>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="applause"
              icon="icons/applause.png"
              id="org.applause.lang.ApplauseDsl"
              name="APPlause DSL Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.applause.lang.ApplauseDsl.validate">
         <activeWhen>
            <reference
                    definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.applause.lang.ApplauseDsl.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.applause.lang.ApplauseDsl" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.applause.lang.ApplauseDsl"
            name="APPlause">
            <keywordReference id="org.applause.lang.ui.keyword_ApplauseDsl"/>
        </page>
        <page
            category="org.applause.lang.ApplauseDsl"
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.applause.lang.ApplauseDsl.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.applause.lang.ui.keyword_ApplauseDsl"/>
        </page>
        <page
            category="org.applause.lang.ApplauseDsl"
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.applause.lang.ApplauseDsl.templates"
            name="Templates">
            <keywordReference id="org.applause.lang.ui.keyword_ApplauseDsl"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.applause.lang.ui.keyword_ApplauseDsl"
            label="APPlause"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.applause.lang.ApplauseDsl.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.applause.lang.ApplauseDsl.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="applause">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="applause">
        </resourceServiceProvider>
    </extension>




	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.applause.lang.ApplauseDsl.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.applause.lang.ApplauseDsl.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.applause.lang.ui.wizards"
            class="org.applause.lang.ui.ApplauseDslExecutableExtensionFactory:org.applause.lang.ui.wizard.ApplauseDslNewProjectWizard"
            icon="icons/applause.png"
            id="org.applause.lang.ui.wizard.ApplauseDslNewProjectWizard"
            name="APPlause Project"
            project="true">
      </wizard>
      <category
            id="org.applause.lang.ui.wizards"
            name="APPlause">
      </category>
   </extension>
   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.applause.lang.ui.builder.ApplauseBuilderParticipant">
      </participant>
   </extension>

</plugin>
